<h1 class = "headings">Buy book</h1>
<h2><font color="white">The selected book is:</font></h2>
<div class="form_label">
  Name    : <%=  @book.name %><br>

  Author : <%= @book.author %><br>

  Language   : <%= @book.language %><br>

  Details: <%= @book.details %><br>

  Number of copies: <%= @book.no_of_copies %><br>
</div>
Select number of copies required: <%= collection_select(1..3) &>
<%= link_to 'Back', :back, :class => "middle" %>