<h1 class = "headings">Buy book</h1>

<div class="details">
	<table>
 		<tr>
 			<td>
 				Name
 			</td>
 			<td>
 				:<%= @book.name %>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				Author
 			</td>
 			<td>
 				:<%= @book.author %>
 			</td>
 		</tr>
    <tr>
    	<td>
    		Language
    	</td>
    	<td>
    		:<%= @book.language %>
    	</td>
    </tr>
    <tr>
    	<td>
    		Details 
    	</td>
    	<td>
    		:<%= @book.details %>
    	</td>
    </tr>
    <tr>
    	<td>
    		Number of copies
    	</td>
    	<td>
    		:<%= @book.no_of_copies %>
    	</td>
    </tr>
 </table>
</div>

<%= form_tag buy_selected_books_path, method: :get do %>
  <h2><font color="yellowgreen"> Price: Rs. <%= @book.price %><br></font></h2>
  <h2><font color="yellowgreen"> Select number of copies required: <%= select_tag 'no_of_copies', options_from_collection_for_select(1..@book.no_of_copies, :to_f, :to_s) %></font></h2>
  <%= submit_tag "BUY", :class => "middle" %>
<% end %>

<%= link_to 'Back', :back, :class => "middle" %>

