<h1 class = "headings">Users List</h1>
<h2><font color="green"><%= flash[:notice] %></font></h2>
<h2><font color="red"><%= flash[:failure] %></font></h2>]
<h2><font color="green"><%= flash[:success] %></font></h2>

<div class = "datagrid">
  <table>
    <thead>
      <tr>
        <th>Name <%= link_to image_tag("up_arrow.png", :border => 0), users_path(:sort => "asc"), :class => "small" %>
                 <%= link_to image_tag("down_arrow.png", :border => 0), users_path(:sort => "desc"), :class => "small" %> </th>
        <th>Addres</th>
        <th>Email</th>
        <th>Phone</th>
        <th>State</th>
        <th>Country <%= link_to image_tag("up_arrow.png", :border => 0), users_path(:sort => "country_asc"), :class => "small" %>
                    <%= link_to image_tag("down_arrow.png", :border => 0), users_path(:sort => "country_desc"), :class => "small" %></th>
        <th>Activate</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="8">
        <div id="no-paging">&nbsp;</div>
      </tr>
    </tfoot>
    <% @users.each do |user| %>
      <tbody>
        <tr id="row">
          <td class = "user-row"><%= user.name %></td>
          <td class = "user-row"><%= user.address %></td>
          <td class = "user-row"><%= user.email %></td>
          <td class = "user-row" ><%= user.phone %></td>
          <td class = "user-row" ><%= user.state %></td>
          <td class = "user-row"><%= user.country %></td>
          <td class = "user-row"><%= check_box_tag 'user_id1', user.id, user.activated, :class => "activation_checkbox" %></td>
          <td class = "user-row"><%= link_to 'Destroy', user_path(user), :class => "table_link", 
                                     method: :delete,
                                     data: { confirm: 'Are you sure?' }%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

<br><%= link_to 'Home', admin_home_path, :class => "middle" %>