<h1>User Details</h1>

<h2><font color="green"><%= flash[:success] %></font></h2>
<h2><font color="red"><%= flash[:failure] %></font></h2>

<div class="form_label">
  Name    : <%=  @user.name %><br>

  Address : <%= @user.address %><br>

  Email   : <%= @user.email %><br>

  Phone no: <%= @user.phone %><br>

  State   : <%= @user.state %><br>

  Country : <%= @user.country %><br>
</div>

<%= link_to 'Edit', edit_user_path(@user), :class => "middle" %><br>
<%= link_to 'Back', users_path, :class => "middle" %>