<h1 class = "headings">User Details</h1>

<h2><font color="green"><%= flash[:win] %></font></h2>
<h2><font color="green"><%= flash[:registration] %></font></h2>
<h2><font color="green"><%= flash[:profile_update] %></font></h2>
<h2><font color="green"><%= flash[:success] %></font></h2>
<h2><font color="red"><%= flash[:failure] %></font></h2>

<div class = "user_details">

  Name    : <%=  @user.name %><br>

  Address : <%= @user.address %><br>

  Email   : <%= @user.email %><br>

  Phone no: <%= @user.phone %><br>

  State   : <%= @user.state %><br>

  Country : <%= @user.country %><br>
</div>
  
<h2><font color="white">Books Taken</font></h2>
<div class = "datagrid">
  <table>
    <thead>
     <tr>
       <th>Name</th>
       <th>Author</th>
       <th>Return</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">
        <div id="no-paging">&nbsp;</div>
      </tr>
    </tfoot>
    <% @user.books.each do |book| %>
      <tbody>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= link_to 'Return', user_return_book_path(book.id), :class => "large" %></td>
        </tr>    
      </tbody>
    <% end %>
  </table>
</div>

<br><%= link_to 'Books List', show_available_books_path, :class => "middle" %>