<h1 class = "headings">Books List</h1>
<div class = "datagrid">
  <table>
    <thead>
     <tr>
       <th>Name</th>
       <th>Author</th>
       <th>Language</th>
       <th>Details</th>
       <th>Show</th>
       <th>Edit</th>
       <th>Remove</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="7">
        <div id="no-paging">&nbsp;</div>
      </tr>
    </tfoot>
    <% @books.each do |book| %>
      <tbody>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.language %></td>
          <td><%= book.details %></td>
          <td><%= link_to 'Show', book_path(book), :class => "large"%></td>
          <td><%= link_to 'Edit', edit_book_path(book), :class => "large"%></td>
          <td><%= link_to 'Destroy', book_path(book), :class => "large", :method => :delete,data: {confirm: 'Are you sure?'} %></td>
        </tr>    
      </tbody>
    <% end %>
  </table>
</div>
<br><%= paginate @books %><br>

<%= link_to 'New book', new_book_path, :class => "middle" %><br>
<%= link_to 'Home', admin_home_path, :class => "middle" %>
