<h1 class = "headings">Books List</h1>
<h3><font color="green">You can take a maximum of 3 books</font></h3>
<h3><font color="green">You took <%= current_user.book_count %> books</font></h3>
<h2><font color="red"><%= flash[:failure] %></font></h2>
<%= form_tag get_book_users_path, method: :put do %>
<div class = "datagrid">  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Language</th>
        <th>Details</th>
        <th>Price</th>
        <th>Copies Available</th>
        <th>Take a book</th>
        <th>Buy</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="8">
        <div id="no-paging">&nbsp;</div>
      </tr>
    </tfoot>
    <% @books.each do |book| %>
      <tbody>
        <tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.language %></td>
          <td><%= book.details %></td>
          <td>Rs.<%= book.price %></td>
          <td><%= book.no_of_copies %></td>
          <td><%= check_box_tag 'book_ids[]', book.id %></td>
          <td><%= link_to 'Buy', user_buy_book_path(book.id), :class => "large" %></td>
        </tr>
      </tbody>
    <% end %> 
  </table>
</div>
<%= submit_tag "Take selected books", :class => "get_checked" %> 
<% end %>
<%= link_to 'Back', user_path(current_user), :class => "middle" %>


