<h1 class = "headings">Book Details</h1>

<div class="details">
	<table>
 		<tr>
 			<td>
 				Name
 			</td>
 			<td>
 				:<%= @book.name %>
 			</td>
 		</tr>
 		<tr>
 			<td>
 				Author
 			</td>
 			<td>
 				:<%= @book.author %>
 			</td>
 		</tr>
    <tr>
    	<td>
    		Language
    	</td>
    	<td>
    		:<%= @book.language %>
    	</td>
    </tr>
    <tr>
    	<td>
    		Details 
    	</td>
    	<td>
    		:<%= @book.details %>
    	</td>
    </tr>
    <tr>
    	<td>
    		Price
    	</td>
    	<td>
    		:Rs. <%= @book.price %>
    	</td>
    </tr>
    <tr>
    	<td>
    		Number of copies
    	</td>
    	<td>
    		:<%= @book.no_of_copies %>
    	</td>
    </tr>
 </table>
</div>

<br><%= link_to 'Back', books_path, :class => "middle" %>