<h1 class = "headings">Book Details</h1>

<div class="form_label">
  Name    : <%=  @book.name %><br>

  Author : <%= @book.author %><br>

  Language   : <%= @book.language %><br>

  Details: <%= @book.details %><br>
</div>

<%= link_to 'Back', books_path, :class => "middle" %>