<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "home" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<%= link_to "Logout", logout_path, :class => "large" %>
    <%= yield %>
  </body>
</html>
